.place__image {
  max-width: 200px;
  max-height: 200px;
}
.place__heart {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.places__card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-between;
  align-items: center;
}
.places__container {
  display: flex;
}
